header {
    background-image: linear-gradient(rgba(60, 60, 60, 0.6)), url("../images/pexels-christina-morillo-1181244\ 1.png");
    background-size: cover;
    height: 512px;
}

header nav {
    background-color: #373736;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 82px;
    width: 100%;
}

header div {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 430px;
}

.menu {
    display: flex;
    gap: 16px;
    list-style: none;
    padding-left: 20px;
    justify-content: left;
}

.banner {
    width: 100%;
    height: 100%;
}