* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.titulo {
    background: linear-gradient(rgba(17, 18, 19, 0.829), rgba(17, 18, 19, 0.897)), url(../images/pexels-markus-winkler-1430818-4584830\ 1.png) no-repeat center/cover;
    padding: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.932);
    margin-bottom: 40px;
}

.buscar {
    display: block;
    margin: 0 auto; 
    height: 40px; 
    width: 70%;
    font-size: 16px;
    padding: 5px 40px 5px 10px;
    border-radius: 10px;
    background: url('../public/images/Frame.png') no-repeat right center; 
    border: 2px solid #d3d3d3;
    background-size: 20px;
    background-position: right 10px center;
}

.cards-container {
    display: flex;
    margin-top: 40px;
    gap: 45px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.card:hover {
    scale: 101%;
    transition: 0.5s;
}

.imagem-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 160px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imagem-card img {
    padding: 30px 20px 30px 20px;
    width: 90px;
}

.titulo-card {
    font-size: 20px;
    padding: 20px 20px 5px 20px;
    font-weight: bold;
}

.descricao-card {
    padding: 5px 20px 10px 20px;
}

.tags-card {
    padding: 50px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.tag-card {
    margin-right: 0;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.projeto-card {
    padding: 20px 20px 30px 20px;
}

.projeto-card span {
    color: rgb(38, 109, 241);
    padding: 8px 20px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
}

.projeto-card span:hover {
    color: white;
    background-color: rgb(38, 109, 241);
    transition: 0.5s;
    cursor: grab;
}

.referencias {
    margin-top: 40px;
    background-color: #202124;
    max-width: 100%;
    padding: 30px;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.referencias div {
    margin-top: 40px;
    margin-bottom: 40px;
}

.fonte {
    color: white;
    text-decoration: underline;
    border-radius: 5px;
    padding: 4px;
    transition: 0.5s;
}

.fonte:hover {
    color: #202124;
    background-color: #EADD67CC;
    transition: 0.5s;
}

footer {
    background-color: #38393F;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}

footer img {
    margin: 10px 10px 10px 10px;
}